@keyframes coinflip {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(360deg);
  }
}

img {
  border: 10px solid black;
  border-radius: 50%;
  animation: coinflip 5s ease-in-out infinite;
}
img:hover {
  transform: rotateZ(90deg) scale(0.5);
}
